body {
  color: $accent-3;
  background-color: $background-white;
  font-family: $font-family-sans-serif;
}

button {
  &.outline {
    &.accent-1 {
      color: $accent-1;
      border: 2px solid $accent-1;
      background-color: transparent;

      &:hover {
        background-color: $background-white;
      }
    }
  }
}