.tweet-list {
  color: $accent-1;
  //width: 33%;
  padding: 0 40px;
  margin-top: 20px;
  //margin-left: 33%;
  border-left: 1px solid $accent-1;
  border-right: 1px solid $accent-1;

  .tweets {
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: $accent-1;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $accent-1;
      }

      &:active {
        color: $accent-1;
        text-decoration: underline;
      }
    }

    li {
      .tweet {}
      .timePosted {}

      .interact {
        text-align: right;

        a {
          padding-right: 10px;
        }
      }
    }
  }
}