.tweet-list {
  color: $accent-1;
  padding: 0;
  margin-top: rem-calc(20);
  border-left: 1px solid $accent-1;
  border-right: 1px solid $accent-1;

  @media #{$medium-up} {
    padding: rem-calc(0 40);
  }

  .tweets {
    list-style: none;
    padding: 0;
    margin: rem-calc(20);

    @media #{$medium-up} {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $accent-1;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $accent-1;
      }

      &:active {
        color: $accent-1;
        text-decoration: underline;
      }
    }

    li {
      .user {
        span:nth-child(2) {
          display: none;
        }
      }

      .tweet {}
      .timePosted {
        text-align: $opposite-direction;
        font-size: $font-size-small;
      }

      .interact {
        text-align: $opposite-direction;

        a {
          padding-#{$opposite-direction}: rem-calc(10);
        }
      }
    }
  }
}